/*
 * Some simple styles
 *
 * Copyright SJ Hindmarch 2013, 2014
 * Distributed under the GNU General Public License
 *
 * $Id$
 */

body{
    background-color:burlywood;
}

h1{
    color:darkred;
    text-shadow:10px 10px 10px red;
}

h2{
    color:darkred;
    text-shadow:5px 5px 10px red;}

ul{
    color:red;
    font-size:110%;
}

li{
    color:black;
    font-size:100%;
}

pre{
    color:green;
    background-color:black;
    padding:1em;
    border:2px dotted green;
}

table.open{
    border:none;
}

th.horizontal{
    text-align:right;
}

section,footer{
    float:left;
    width:100%;
}

/* **********************
 * D3 Examples
 * **********************/

#workarea{
  background: #fff;
  border: solid 1px #ddd;
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  width:364px;
  height:184px;
}

#workarea svg{
  border: solid 2px #ddd;
  height:180px;
  width:360px;
}

#workarea circle{
  fill:blue;
  stroke:black;
  stroke-width:1.5px;
}

#workarea .bar {
  display: inline-block;
  margin-left: 2px;
  width: 3em;
  background-color: teal;
  color: black;
}

#workarea .box {
  display: inline-block;
  margin-left: 2px;
  width: 3em;
  text-align:center;
}

.axis path, .axis line { 
  fill:none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text { 
  font-family: sans-serif;
  font-size: 11px;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

.grid path {
      stroke-width: 0;
}
